{{ if eq .osid "linux-debian" "linux-raspbian" "linux-ubuntu" "linux-arch" -}}

{{ $packages := list
     "bat"
     "curl"
     "git"
     "lazygit"
     "ripgrep"
     "zsh" -}}

{{ $sudo := "sudo" -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#! /bin/bash

set -eufo pipefail

{{ if eq .chezmoi.os "darwin" }}
# macOS-specific code
{{ else if eq .chezmoi.os "linux" }}
{{   if eq .chezmoi.osRelease.id "debian" }}
    # Debian-specific code
    {{ $packages = concat $packages (list "openssh-server" "build-essential") }}
    {{ $sudo }} apt-get update
    {{ $sudo }} apt-get install -y {{ $packages | join " " }}
{{   else if eq .chezmoi.osRelease.id "arch" }}
    # Arch linux
    {{ $packages = concat $packages (list "openssh" "base-devel") }}
    {{ $sudo }} pacman -Syu --noconfirm
    {{ $sudo }} pacman -S --noconfirm {{ $packages | join " " }}
{{   end }}
{{ end }}

curl -sS https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | bash
{{ end -}}
