#! /bin/bash

SHELL_PATH=$(which {{ .shell }})

if [ -z "$SHELL_PATH" ]
then
    echo "{{ .shell }} is not installed"
    exit 1
fi

if [ "$SHELL" != "$SHELL_PATH" ]
then
    chsh -s "$SHELL_PATH"
    echo "Shell changed to {{ .shell }}"
else
    echo "Shell is already {{ .shell }}"
fi
