{{ if eq .osid "linux-debian" "linux-raspbian" "linux-ubuntu" "linux-arch"-}}

{{ if eq .chezmoi.os "darwin" }}
# macOS-specific code
{{ else if eq .chezmoi.os "linux" }}
{{   if eq .chezmoi.osRelease.id "debian" }}
# Debian-specific code
{{ $update_command := "apt-get update" }}
{{ $install_command := "apt-get install -y " }} 
{{   else if eq .chezmoi.osRelease.id "fedora" }}
# Fedora-specific code
{{   else if eq .chezmoi.osRelease.id "arch" }}
# Arch linux
{{ $update_command := "pacman -Syu --noconfirm" }}
{{ $install_command := "pacman -S --noconfirm" }} 
{{   end }}
{{ end }}

{{ $packages := list
     "bat"
     "build-essential"
     "curl"
     "git"
     "openssh-server"
     "ripgrep"
     "zsh" -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#! /bin/bash

set -eufo pipefail

{{ $sudo }}{{ $update_command }}
{{ $sudo }}{{ $install_command }}{{ $packages | join " " }}

curl -sS https://raw.githubusercontent.com/ajeetdsouza/zoxide/main/install.sh | bash
{{ end -}}
