#! /bin/bash

{{ $sudo := "sudo" -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

{{ if eq .osid "linux-debian" }}
    ~/.fzf/install --key-bindings --completion --no-update-rc --no-bash --no-fish
{{ end }}
