{{- $email := promptStringOnce . "email" "Email address" -}}

{{- $choices := list "build" "download" -}}
{{- $cargo_package := promptChoiseOnce . "cargo_package" "download cargo packages binary or build from source" $choices -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

data:
  email: {{ $email | quote }}
  osid: {{ $osID | quote }}
  cargo_package: {{ $cargo_package | quote }} 
git:
  autoCommit: true