# nvim config
.config/nvim:
  type: git-repo
  url: https://github.com/stanly0726/nvim.git
  clone:
    args: ['--branch','colemak']

# tmux plugin manager
.tmux/plugins/tpm:
  type: git-repo
  url: https://github.com/tmux-plugins/tpm.git

.local/bin/tmux-sessionizer:
  type: file
  url: https://raw.githubusercontent.com/ThePrimeagen/tmux-sessionizer/refs/heads/master/tmux-sessionizer
  executable: true

{{ if eq .osid "linux-debian" }}
# fzf
.fzf:
  type: git-repo
  url: https://github.com/junegunn/fzf.git
  clone:
    args: ['--depth', '1']
{{ end }}

# alacritty theme
.config/alacritty/themes:
  type: git-repo
  url: https://github.com/alacritty/alacritty-theme.git
