{{- if .secret }}
{{- `-----BEGIN AGE ENCRYPTED FILE-----
YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB5SVhyYnFBWlBMSlAwZzdw
RlNzK29MWHl0ZERIeWNKTE5TYStHandWelFZCmJVbjE4UHR0NFBJbTV3cHBZQnF0
TVNHK0p1RWxFejc0aVdjWXdqZEVNUHcKLS0tIEt4bmhvMlczbVVrOEd3enJ2V1g5
NVZzNFM3YXVsRDVPWWE4VDVxTmhEWm8KTa7RbSe2rJEWf5TKnprnO+nu2Xg83kzW
QE1+SWgM4EYj9O51yPpDTgN2K36QY7ya85yjjem2/dlWnPl/OLfuvugpbkI1z3if
C/HkfS1MaKX1R/tHOJIOuJA9BJctv77i+e6PFaeth4ct+5n20xStXUbXCh/36sEu
z3KWA9YWb7z7fPJe9HTgLYzXrOYm/595Ck3FZrh195qnL1LV2bypRV/HDenSeg1t
RIg0hQ7aradgwjCTb3Qt/uz2+jSiomsw1ua+ZjAyUTXzp7PlX22VkIvVVZ/+LhrN
G+fV5u3m/cvm+lCsNjhwBaQb+zxDgY9sD0JMw3SLt9nFsQFO28g6Qp+h2lh0stbZ
QmKJ1MDBN/bG6LdPtARsabJ9NOB0dIT1U0XqayEjQEFRNh6cANoKe0PI3hBOXDw0
dHtHrdagzGjkBOMI4KWdPbQie5TEa2CUqAZ64u4z7E1k2JOi5oJVN6gxh0nQLE/7
JRjSy2hV/HiSrLQ4/xUdue6vkKcIeEfsHJMD9mCIrFgFe21OHOYFXqQEeaDh1XuI
Tnbw3GWJ2TcfSf0JocuSvW+FcEp4vi+eUMnw+xIx8+WQBlQtqdYeDBBwCw==
-----END AGE ENCRYPTED FILE-----` | decrypt }}
{{- end }}
