{{- if .secret }}
{{- `-----BEGIN AGE ENCRYPTED FILE-----
YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBVQkVHa2p2eWNyYlZxeUoz
UkdmcTRjU1lpbFJvYUZXME14ZGErT1JGY2dZClpVU2d0TGdHWnROUDlORFd4T3U0
N0xYdGJtTW1wMjV2UlFmSlA2NlhQeUEKLS0tIGJweElFc28wVGszU0JJWEVPNjcv
VTNlWGRVQVJMdnJpa3VwcmdqeVVaWU0Kcfn/op/8A24WUipehG2APNzmslPlNlkJ
+cIMSCjfQrWz8V79kR8280YS/bZW57+VULCiP/RoACtfsQmTuqfBOetvSMiCw4na
FlXnUnxaS+ah8E55RfGyLROe7ryGn1B2JSDPTXY4LhM8dNd2JufLsB97BhB0MFgR
DZONnYSnk5XMVO8xBYo1Z3NjBbn0tYx9/yZJJJGNuDKEUCALGLmMx+1cFcYg6IPe
TZtY4oVNm/yZaM91WLogdzcHGLPFXnpC1z6rHk2ueysGBQRS1A7sIGrwEnQWFIul
xcooejjAaPfsQ3TrHUlRcTUdJR0aywklcBommUxDjzsjuv/dm8mVJ/u6nWEx6DcH
20GBoWcZTzQllMCSGs3qA+19w1+vsRjzZiDVv5RUxYssm7RRv0ws4LFejxq4dlw5
slGR5C+J38HLYyFiYtR4tAngeOL0honsuHyTBFdyWINNs8TBfLn7O2p8NpGEMJkh
wsfKF/lSKUVZDpzCKBx1jpJH5WMxaXRLe/Ogpjq8ePWIe8+IR38aQTCCUwB7s4Zd
2jodNJR/7Hrs1imQLehNsW+Cu9kRGawUXUlorw3bNbXXDqoxg1gSOl8bXw==
-----END AGE ENCRYPTED FILE-----` | decrypt }}
{{- end }}
