{{- if eq .osid "darwin" -}}
function java25 --wraps='export JAVA_HOME=(/usr/libexec/java_home -v 25); java --version' --description 'alias java25=export JAVA_HOME=(/usr/libexec/java_home -v 25); java --version'
    export JAVA_HOME=(/usr/libexec/java_home -v 25); java --version $argv
end
{{- end -}}
