{{- if eq .osid "darwin" -}}
function java17 --wraps='export JAVA_HOME=(/usr/libexec/java_home -v 17); java --version' --description 'alias java17=export JAVA_HOME=(/usr/libexec/java_home -v 17); java --version'
    export JAVA_HOME=(/usr/libexec/java_home -v 17); java --version $argv
end
{{- end -}}
